body{
	background-image: url("images/food.png");
}

.banner-h1{
	font-size: 60px;
	padding-top: 80px;
	padding-bottom: 100px;
	color: gray;
}

.banner-div{
	background-color: #fffc7f;
}

.menu-ul{
	top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: none;
}

.link-li{
	text-align: center;
	display: block;
	text-decoration: none;
	float: left;
}

.link-li:hover{
	opacity: 0.5;
}